<body style="background-color: #16ffc1; padding-top: 5%">
    <div class="container border border-dark" style="background-color: #fafafa;">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
                <div class="container">
                    <a class="navbar-brand" style="font-weight:bold;" href="#">AGENDAMENTOS</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" style="color: white;" href="/">Cadastrar</a>
                            </li>
                            <div style="padding: 3px;"></div>   
                            <li class="nav-item">
                                <a class="nav-link" style="color: white;" href="/consultar">Consultar</a>
                            </li>
                        </ul>
                    </div>
                </div>    
            </nav>
        </div>
        <div class="row">
            <form action="/atualizar/{{ postId }}" method="POST" style="padding: 30px 30px 20px 30px; font-weight:bold;">
                <div class="mb-3">
                    <h3 class="text-center" style="font-weight:bold;">Atualizar Agendamento</h3>
                </div>    
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nome:</label>
                            <input type="nome" name="nome" class="form-control border border-dark" id="nome" placeholder="Digite seu nome" value="{{ postId.nome }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Telefone:</label>
                            <input type="telefone" class="form-control border border-dark" name="telefone border border-dark" id="telefone" aria-describedby="emailHelp" placeholder="(XX) XXXX-XXXX" value="{{ postId.telefone }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="inputState" class="form-label">Origem:</label>
                            <select id="origem" name="origem" class="form-select border border-dark">
                                <option value="celular" {{#if_eq postId.origem "celular"}}selected{{/if_eq}}>Celular</option>
                                <option value="whatsapp" {{#if_eq postId.origem "whatsapp"}}selected{{/if_eq}}>WhatsApp</option>
                                <option value="telegram" {{#if_eq postId.origem "telegram"}}selected{{/if_eq}}>Telegram</option>
                            </select>   
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Data do Contato:</label>
                            <input type="date" class="form-control border border-dark" required name="data_contato" id="data_contato" value="{{ postId.data_contato }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Observação:</label>
                            <textarea class="form-control border border-dark" id="observacao" name="observacao" rows="3">{{ postId.observacao }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-dark">Atualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
